body {
                background-color: bisque;
            }
            hr {
                border-style: none;
                border-top-style: dotted;
                border-color: black;
                border-width: 5px;
                width: 8%;
            }

            h1{
                color: brown;
            }
            h2{
                color: brown;
            }
            h3{
                color: brown;
            }
            
 